[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Thunderbird Email
GenericName=Email
Comment=Send and Receive Email
Exec=thunderbird
Icon=thunderbird.png
Terminal=false
Type=Application
StartupWMClass=Thunderbird-bin
